header{
	border: 1px solid white;
	background: url("night-sky-background.jpg");
	color: white;
	padding-left: 10px;
}

.start-page-main, .pick-genre-div{
	text-align: center;
}

.hidden{
	display: none;
}

.genre-list > li{
	list-style: none;	
	margin-bottom: 20px;
	border: 1px solid black;
	padding: 20px;
}

.char-form, .word-form{
	border: 1px solid lightgrey;
	padding: 20px;
}

.genre{
	cursor: pointer;
}

.region-trigger{
	cursor: pointer;
}

